@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Project Created By GreenFoxCloud<br />
   Janakpuri, New Delhi<br />
    <abbr title="Phone">P:</abbr>
    +918743843991
</address>

<address>
    <strong>Support:</strong> <a href="mailto:varnitgoyal@protonmail.com">varnitgoyal@protonmail.com</a><br />
   
</address>
